<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-12 col-sm-12">
            <div class="title-details">{{recipe.name}}</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12 recipe-details">

            <!--<div class="img-div"><img src="{{recipe.img}}" /></div>-->
            <div class="ingredients">
                <div class="img-ingredients">
                    <div class="ingredients-title">Ingredients</div>
                </div>
                <div class="ingredient-desc">
                    <div class="row justify-content-center">
                        <div class="col-4 ingredient-property">
                            Name
                        </div>
                        <div class="col-4 ingredient-property">
                            Quantity
                        </div>
                    </div>
                </div>
                <div class="ingredient" ng-repeat="ingredient in recipe.ingredients">
                    <div class="row justify-content-center">
                        <div class="col-4 ingredient-property">
                            {{ingredient.product.name}}
                        </div>
                        <div class="col-4 ingredient-property">
                            {{ingredient.quantity}} {{ingredient.unit | lowercase}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="steps">
                <div class="img-preparation">
                    <div class="steps-title">Steps</div>
                </div>
                <div class="steps-desc">
                    <div class="row justify-content-center">
                        <div class="col-1 step-property">
                            Number
                        </div>
                        <div class="col-9 step-property">
                            Description
                        </div>
                    </div>
                </div>
                <div class="step" ng-repeat="step in recipe.instructionSteps">
                    <div class="row justify-content-center">
                        <div class="col-1 step-property">
                            {{step.number}}
                        </div>
                        <div class="col-9 step-property">
                            {{step.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="add-button" ng-click="addToShoppingList()">Add to shop list</button>
            </div>
        </div>
    </div>
</div>