<div class="parallax" ng-init="loadRecipes()">
     <div class="description">Wyszukaj przepis na swój ulubiony posiłek!</div>
    <div class="recipes-search">
        <div class="form-group">
            <div class="input-field">
                <input ng-model="inputtext" type="text" class="form-control" placeholder="Search recipe">
                <div class="search-button" ng-click="searchRecipe(inputtext)"></div>
            </div>
        </div>
    </div>
</div>

<div class="recipes">
    <recipe-item class="animate-repeat" ng-click="goToDetailsRecipe(recipe)" ng-repeat="recipe in recipes | filter: {name: inputtext}" 
        recipe="recipe">
    </recipe-item>
</div>