<!DOCTYPE html>

<html ng-app="uplication">
<head>
    <title>Task Planner</title>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css"></link>
    <link rel="stylesheet" type="text/css" href="master.css"/>

    <!-- inject:js -->
    <script src="front/app.js"></script>
    <script src="front/account/account-module.js"></script>
    <script src="front/account/account.service.js"></script>
    <script src="front/recipes/recipes.directive.js"></script>
    <script src="front/shopping-list/shopping-list.directive.js"></script>
    <script src="front/shopping-list/shopping-list.service.js"></script>
    <script src="front/account/account-manager/account-manager.component.js"></script>
    <script src="front/recipes/recipe-item/recipe-item.directive.js"></script>
    <script src="front/recipes/recipe-item-details/recipe-item-details.directive.js"></script>
    <script src="front/recipes/recipe-panel/recipe-panel.directive.js"></script>
    <script src="front/account/account-views/user-products/user-products.component.js"></script>
    <!-- endinject -->

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="color:white">PlanEat</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ui-sref="recipes">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="shopping">Shopping list</a>
            </li>
        </ul>
        <ul ng-controller="userController" class="navbar-nav navbar-right">
            <li ng-if="!logged" class="nav-item">
                <div class="nav-link" ng-click="openLogInModal()">Log in</div>
            </li>
            <li ng-if="!logged" class="nav-item">
                <div class="nav-link" ng-click="openRegisterModal()">Register</div>
            </li>
            <li class="nav-link" ui-sref="account.settings"><span class="username"> {{username}} </span></li>
            <li ng-if="logged" class="nav-item">
                <div class="nav-link" ng-click="logout()">Logout</div>
            </li>
        </ul>
    </div>
</nav>

<div class="main-view">
    <ui-view></ui-view>
</div>

</body>

</html>
